.body{
    margin: 0;
}
.al-h2{
    position:relative;
    margin: 0;
    position:0%;
    align-items: center;
    justify-content: center;
}
.al-h2-bg{
    position:absolute;
    top:0; 
    left:0;
    width:100%;
    height:100%;
    background-image: url(/public/pageimages/adminlogin.png);
    background-size: cover;
    background-position: center;
    filter:blur(2px);
    z-index: -1;
}
.title {
    font-family: Georgia, serif;
    font-size: 40px;
    color:white;
    word-spacing: 20px;
}

.al-h2{
    border-right: 2px solid #a1a3a7;
}

.al-main{
    display:flex;
    flex-grow: 1;
    height:100vh;
    padding: 0%;
    margin: 0%;
}

.al-h2, .al-form {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-login-footer {
    bottom:-153px;
    flex-shrink: 0;
}

.al-form {
    background-color: #a1a3a7;
}

.form-row {
    margin-bottom: 25px;
    display: flex;
    align-items: first baseline;
}
.form-row label {
    min-width: 120px;     
    margin-right: 16px;
}
.form-row input {
    flex: 1;
}
