.home-grid {
    margin: 0px;
    padding: 0px;
    height:100%;
    box-sizing: border-box;
}

.headerclass {
    top:0;
    width:100%;
}

.footerclass {
    bottom:0;
    width:100%;
}

.stickynavclass{
    display:inline-block;
}
.sticky-and-content{
    display:flex;
}

.student-login-footer, .admin-login-footer, .ad-footer ,.sd-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    
