.sticky-nav {
  background: linear-gradient(to bottom, #0a162b, #102042, #1d345a);
  padding: 18px;
  width: 220px;
  border-radius: 12px;
  position: sticky;
  top: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.sticky-list {
  display: grid;
  gap: 12px;
  padding: 0;
}

.sticky-list a {
  text-decoration: none;
  color: #cdd3da;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.sticky-list a:hover {
  background-color: #0aebeb;
  color: white;
}