.student-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-grid {
  flex: 1;        
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  box-sizing: border-box;
}

.availjobs, .my-app, .workhours, .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.sd-footer {
  margin-top: auto;
  position: relative;
  z-index: 1;
}

.dashboard-grid section {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
}

.dashboard-grid h2 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

button {
  margin-left: 10px;
}

.accepted {
  color: green;
}

.rejected {
  color: red;
}
